<?xml version='1.0' encoding="utf-8" ?>
<widget
    android-versionCode = '1'
    id = 'com.Cephas.AKP'
    version = '2.0.0'
    xmlns = 'https://www.w3.org/ns/widgets'>

    <name>Margem</name>
    <description>Calculando porcentagem Cephas</description>
    <author>Pedro Rodrigues</author>

    <preference name='orientation' value='portrait'/>

</widget>